---
import ThinDivider from "../ThinDivider.astro"
---

<section class="bg-background">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">

    <a href="/">
      <svg viewBox="0 0 72 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.758523 10V1.27273H4.2017C4.8608 1.27273 5.4233 1.39062 5.8892 1.62642C6.35795 1.85937 6.71449 2.19034 6.95881 2.61932C7.20597 3.04545 7.32955 3.54687 7.32955 4.12358C7.32955 4.70312 7.20455 5.2017 6.95455 5.61932C6.70455 6.03409 6.34233 6.35227 5.8679 6.57386C5.39631 6.79545 4.82528 6.90625 4.15483 6.90625H1.84943V5.4233H3.85653C4.20881 5.4233 4.50142 5.375 4.73438 5.27841C4.96733 5.18182 5.14063 5.03693 5.25426 4.84375C5.37074 4.65057 5.42898 4.41051 5.42898 4.12358C5.42898 3.83381 5.37074 3.58949 5.25426 3.39062C5.14063 3.19176 4.96591 3.04119 4.73011 2.93892C4.49716 2.83381 4.20313 2.78125 3.84801 2.78125H2.60369V10H0.758523ZM5.47159 6.02841L7.64062 10H5.60369L3.48153 6.02841H5.47159ZM8.59943 10V3.45455H10.4148V10H8.59943ZM9.51136 2.6108C9.24148 2.6108 9.00994 2.52131 8.81676 2.34233C8.62642 2.16051 8.53125 1.94318 8.53125 1.69034C8.53125 1.44034 8.62642 1.22585 8.81676 1.04688C9.00994 0.865057 9.24148 0.774147 9.51136 0.774147C9.78125 0.774147 10.0114 0.865057 10.2017 1.04688C10.3949 1.22585 10.4915 1.44034 10.4915 1.69034C10.4915 1.94318 10.3949 2.16051 10.2017 2.34233C10.0114 2.52131 9.78125 2.6108 9.51136 2.6108ZM14.8263 10.1278C14.1559 10.1278 13.5792 9.9858 13.0962 9.7017C12.6161 9.41477 12.2468 9.01705 11.9883 8.50852C11.7326 8 11.6048 7.41477 11.6048 6.75284C11.6048 6.08239 11.734 5.49432 11.9925 4.98864C12.2539 4.48011 12.6246 4.08381 13.1048 3.79972C13.5849 3.51278 14.1559 3.36932 14.8178 3.36932C15.3888 3.36932 15.8888 3.47301 16.3178 3.6804C16.7468 3.88778 17.0863 4.17898 17.3363 4.55398C17.5863 4.92898 17.7241 5.36932 17.7496 5.875H16.0366C15.9883 5.5483 15.8604 5.28551 15.6531 5.08665C15.4485 4.88494 15.18 4.78409 14.8477 4.78409C14.5664 4.78409 14.3207 4.8608 14.1104 5.0142C13.9031 5.16477 13.7411 5.38494 13.6246 5.67472C13.5082 5.96449 13.4499 6.31534 13.4499 6.72727C13.4499 7.14489 13.5067 7.5 13.6204 7.79261C13.7369 8.08523 13.9002 8.30824 14.1104 8.46165C14.3207 8.61506 14.5664 8.69176 14.8477 8.69176C15.055 8.69176 15.2411 8.64915 15.4059 8.56392C15.5735 8.47869 15.7113 8.35511 15.8192 8.19318C15.93 8.02841 16.0025 7.83097 16.0366 7.60085H17.7496C17.7212 8.10085 17.5849 8.54119 17.3406 8.92188C17.0991 9.29972 16.7653 9.59517 16.3391 9.80824C15.913 10.0213 15.4087 10.1278 14.8263 10.1278ZM20.7273 6.21591V10H18.9119V1.27273H20.6761V4.60938H20.7528C20.9006 4.22301 21.1392 3.92045 21.4688 3.7017C21.7983 3.48011 22.2116 3.36932 22.7088 3.36932C23.1634 3.36932 23.5597 3.46875 23.8977 3.66761C24.2386 3.86364 24.5028 4.14631 24.6903 4.51562C24.8807 4.8821 24.9744 5.32102 24.9716 5.83239V10H23.1562V6.15625C23.1591 5.75284 23.0568 5.43892 22.8494 5.21449C22.6449 4.99006 22.358 4.87784 21.9886 4.87784C21.7415 4.87784 21.5227 4.9304 21.3324 5.03551C21.1449 5.14062 20.9972 5.29403 20.8892 5.49574C20.7841 5.6946 20.7301 5.93466 20.7273 6.21591ZM28.2667 10.1236C27.8491 10.1236 27.4769 10.0511 27.1502 9.90625C26.8235 9.75852 26.565 9.54119 26.3746 9.25426C26.1871 8.96449 26.0934 8.60369 26.0934 8.17188C26.0934 7.80824 26.1602 7.50284 26.2937 7.25568C26.4272 7.00852 26.609 6.80966 26.8391 6.65909C27.0692 6.50852 27.3306 6.39489 27.6232 6.31818C27.9187 6.24148 28.2283 6.1875 28.5522 6.15625C28.9329 6.11648 29.2397 6.07955 29.4727 6.04545C29.7056 6.00852 29.8746 5.95455 29.9798 5.88352C30.0849 5.8125 30.1374 5.70739 30.1374 5.56818V5.54261C30.1374 5.27273 30.0522 5.06392 29.8817 4.91619C29.7141 4.76847 29.4755 4.6946 29.1658 4.6946C28.8391 4.6946 28.5792 4.76705 28.386 4.91193C28.1928 5.05398 28.065 5.23295 28.0025 5.44886L26.3235 5.3125C26.4087 4.91477 26.5763 4.57102 26.8263 4.28125C27.0763 3.98864 27.3988 3.7642 27.7937 3.60795C28.1914 3.44886 28.6516 3.36932 29.1744 3.36932C29.538 3.36932 29.886 3.41193 30.2184 3.49716C30.5536 3.58239 30.8505 3.71449 31.109 3.89347C31.3704 4.07244 31.5763 4.30256 31.7269 4.58381C31.8775 4.86222 31.9528 5.19602 31.9528 5.58523V10H30.2312V9.09233H30.18C30.0749 9.29688 29.9343 9.47727 29.7582 9.63352C29.582 9.78693 29.3704 9.90767 29.1232 9.99574C28.8761 10.081 28.5906 10.1236 28.2667 10.1236ZM28.7866 8.87074C29.0536 8.87074 29.2894 8.81818 29.494 8.71307C29.6985 8.60511 29.859 8.46023 29.9755 8.27841C30.092 8.09659 30.1502 7.89062 30.1502 7.66051V6.96591C30.0934 7.00284 30.0153 7.03693 29.9158 7.06818C29.8192 7.09659 29.7099 7.12358 29.5877 7.14915C29.4656 7.17187 29.3434 7.19318 29.2212 7.21307C29.0991 7.23011 28.9883 7.24574 28.8888 7.25994C28.6758 7.29119 28.4897 7.34091 28.3306 7.40909C28.1715 7.47727 28.0479 7.5696 27.9599 7.68608C27.8718 7.79972 27.8278 7.94176 27.8278 8.11222C27.8278 8.35938 27.9173 8.5483 28.0962 8.67898C28.2781 8.80682 28.5082 8.87074 28.7866 8.87074ZM33.3612 10V3.45455H35.1211V4.59659H35.1893C35.3086 4.19034 35.5089 3.88352 35.7901 3.67614C36.0714 3.46591 36.3952 3.3608 36.7617 3.3608C36.8526 3.3608 36.9506 3.36648 37.0558 3.37784C37.1609 3.3892 37.2532 3.40483 37.3327 3.42472V5.03551C37.2475 5.00994 37.1296 4.98722 36.979 4.96733C36.8285 4.94744 36.6907 4.9375 36.5657 4.9375C36.2987 4.9375 36.06 4.99574 35.8498 5.11222C35.6424 5.22585 35.4776 5.38494 35.3555 5.58949C35.2362 5.79403 35.1765 6.02983 35.1765 6.29688V10H33.3612ZM40.3786 10.1065C39.8814 10.1065 39.4311 9.97869 39.0277 9.72301C38.6271 9.46449 38.3089 9.08523 38.0732 8.58523C37.8402 8.08239 37.7237 7.46591 37.7237 6.7358C37.7237 5.9858 37.8445 5.36222 38.0859 4.86506C38.3274 4.36506 38.6484 3.99148 39.049 3.74432C39.4524 3.49432 39.8942 3.36932 40.3743 3.36932C40.7408 3.36932 41.0462 3.43182 41.2905 3.55682C41.5376 3.67898 41.7365 3.83239 41.8871 4.01705C42.0405 4.19886 42.157 4.37784 42.2365 4.55398H42.2919V1.27273H44.103V10H42.3132V8.9517H42.2365C42.1513 9.13352 42.0305 9.31392 41.8743 9.4929C41.7209 9.66903 41.5206 9.81534 41.2734 9.93182C41.0291 10.0483 40.7308 10.1065 40.3786 10.1065ZM40.9538 8.66193C41.2464 8.66193 41.4936 8.58239 41.6953 8.4233C41.8999 8.26136 42.0561 8.03551 42.1641 7.74574C42.2749 7.45597 42.3303 7.11648 42.3303 6.72727C42.3303 6.33807 42.2763 6 42.1683 5.71307C42.0604 5.42614 41.9041 5.20455 41.6996 5.0483C41.495 4.89205 41.2464 4.81392 40.9538 4.81392C40.6555 4.81392 40.4041 4.89489 40.1996 5.05682C39.995 5.21875 39.8402 5.44318 39.7351 5.73011C39.63 6.01705 39.5774 6.34943 39.5774 6.72727C39.5774 7.10795 39.63 7.4446 39.7351 7.73722C39.843 8.02699 39.9979 8.25426 40.1996 8.41903C40.4041 8.58097 40.6555 8.66193 40.9538 8.66193ZM56.1072 4.32812H54.2408C54.2067 4.08665 54.1371 3.87216 54.032 3.68466C53.9268 3.49432 53.7919 3.33239 53.6271 3.19886C53.4624 3.06534 53.272 2.96307 53.0561 2.89205C52.843 2.82102 52.6115 2.78551 52.3615 2.78551C51.9098 2.78551 51.5163 2.89773 51.1811 3.12216C50.8459 3.34375 50.5859 3.66761 50.4013 4.09375C50.2166 4.51705 50.1243 5.03125 50.1243 5.63636C50.1243 6.25852 50.2166 6.78125 50.4013 7.20455C50.5888 7.62784 50.8501 7.94744 51.1854 8.16335C51.5206 8.37926 51.9084 8.48722 52.3487 8.48722C52.5959 8.48722 52.8246 8.45455 53.0348 8.3892C53.2479 8.32386 53.4368 8.22869 53.6016 8.10369C53.7663 7.97585 53.9027 7.82102 54.0107 7.6392C54.1214 7.45739 54.1982 7.25 54.2408 7.01705L56.1072 7.02557C56.0589 7.42614 55.9382 7.8125 55.745 8.18466C55.5547 8.55398 55.2976 8.88494 54.9737 9.17756C54.6527 9.46733 54.2692 9.69744 53.8232 9.8679C53.38 10.0355 52.8786 10.1193 52.3189 10.1193C51.5405 10.1193 50.8445 9.94318 50.2308 9.59091C49.62 9.23864 49.1371 8.72869 48.782 8.06108C48.4297 7.39347 48.2536 6.58523 48.2536 5.63636C48.2536 4.68466 48.4325 3.875 48.7905 3.20739C49.1484 2.53977 49.6342 2.03125 50.2479 1.68182C50.8615 1.32955 51.5518 1.15341 52.3189 1.15341C52.8246 1.15341 53.2933 1.22443 53.7251 1.36648C54.1598 1.50852 54.5447 1.71591 54.88 1.98864C55.2152 2.25852 55.4879 2.58949 55.6982 2.98153C55.9112 3.37358 56.0476 3.82244 56.1072 4.32812ZM59.2116 6.21591V10H57.3963V1.27273H59.1605V4.60938H59.2372C59.3849 4.22301 59.6236 3.92045 59.9531 3.7017C60.2827 3.48011 60.696 3.36932 61.1932 3.36932C61.6477 3.36932 62.044 3.46875 62.3821 3.66761C62.723 3.86364 62.9872 4.14631 63.1747 4.51562C63.3651 4.8821 63.4588 5.32102 63.456 5.83239V10H61.6406V6.15625C61.6435 5.75284 61.5412 5.43892 61.3338 5.21449C61.1293 4.99006 60.8423 4.87784 60.473 4.87784C60.2259 4.87784 60.0071 4.9304 59.8168 5.03551C59.6293 5.14062 59.4815 5.29403 59.3736 5.49574C59.2685 5.6946 59.2145 5.93466 59.2116 6.21591ZM67.842 10.1278C67.18 10.1278 66.6076 9.98722 66.1246 9.70597C65.6445 9.42187 65.2738 9.02699 65.0124 8.52131C64.7511 8.01278 64.6204 7.4233 64.6204 6.75284C64.6204 6.0767 64.7511 5.4858 65.0124 4.98011C65.2738 4.47159 65.6445 4.0767 66.1246 3.79545C66.6076 3.51136 67.18 3.36932 67.842 3.36932C68.5039 3.36932 69.0749 3.51136 69.555 3.79545C70.038 4.0767 70.4102 4.47159 70.6715 4.98011C70.9329 5.4858 71.0636 6.0767 71.0636 6.75284C71.0636 7.4233 70.9329 8.01278 70.6715 8.52131C70.4102 9.02699 70.038 9.42187 69.555 9.70597C69.0749 9.98722 68.5039 10.1278 67.842 10.1278ZM67.8505 8.72159C68.1516 8.72159 68.4031 8.63636 68.6048 8.46591C68.8065 8.29261 68.9585 8.05682 69.0607 7.75852C69.1658 7.46023 69.2184 7.12074 69.2184 6.74006C69.2184 6.35938 69.1658 6.01989 69.0607 5.72159C68.9585 5.4233 68.8065 5.1875 68.6048 5.0142C68.4031 4.84091 68.1516 4.75426 67.8505 4.75426C67.5465 4.75426 67.2908 4.84091 67.0835 5.0142C66.8789 5.1875 66.7241 5.4233 66.619 5.72159C66.5167 6.01989 66.4656 6.35938 66.4656 6.74006C66.4656 7.12074 66.5167 7.46023 66.619 7.75852C66.7241 8.05682 66.8789 8.29261 67.0835 8.46591C67.2908 8.63636 67.5465 8.72159 67.8505 8.72159Z" fill="#1470AF"/>
      </svg>
    </a>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto pb-5">
    <div class="mt-6 space-y-2">
      <ThinDivider duration={2000}/>

      <div
        class="flex flex-col sm:flex-row gap-3 justify-between sm:items-center"
        data-aos="fade-up"
        data-aos-duration="2000">

        <div class="flex gap-3 items-center">
          <h3 class="text-blue text-xs font-medium">
            Full Stack Software Engineer
          </h3>

          <span class="h-auto border-blue border"></span>

          <h3 class="text-blue text-xs font-medium">
            Product Designer
          </h3>
        </div>

        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://linkedin.com/in/richard-cho"
                target="_blank" 
                rel="noopener noreferrer"
                class="hover:text-blue/80 text-blue">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  x="0px" 
                  y="0px" 
                  height="16"
                  width="16" 
                  viewBox="0,0,256,256">
                  <g fill="#1470af" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM17,20v19h-6v-19zM11,14.47c0,-1.4 1.2,-2.47 3,-2.47c1.8,0 2.93,1.07 3,2.47c0,1.4 -1.12,2.53 -3,2.53c-1.8,0 -3,-1.13 -3,-2.53zM39,39h-6c0,0 0,-9.26 0,-10c0,-2 -1,-4 -3.5,-4.04h-0.08c-2.42,0 -3.42,2.06 -3.42,4.04c0,0.91 0,10 0,10h-6v-19h6v2.56c0,0 1.93,-2.56 5.81,-2.56c3.97,0 7.19,2.73 7.19,8.26z"></path></g></g>
                </svg>
              </a>
            </li><li>
              <a
                href="https://github.com/rchrdch"
                target="_blank" 
                rel="noopener noreferrer"
                class="hover:text-blue/80 text-blue"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="#mailgo" data-address="cho.richard99" data-domain="gmail.com"
                class="hover:text-blue/80 text-blue"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        class="h-1.5 bg-blue"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-blue" data-aos="fade-up" data-aos-duration="2000">
      </div>
      <div class="h-6 bg-blue" data-aos="fade-up" data-aos-duration="2000">
      </div>
      <div
        class="h-12 bg-blue"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div
        class="h-24 bg-blue flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="2000"
        >
      </div>
    </div>
  </div>
  
</section>
