---
import ThickDivider from "../ThickDivider.astro"
import ThinDivider from "../ThinDivider.astro"
import PrinciplesCard from "./PrinciplesCard.astro"
---

<section class="bg-background">
  <div 
    class="px-8 2xl:max-w-7xl mx-auto py-6"
    >

    <div class="space-y-2">
      <ThinDivider duration={2000}/>

      <h3 
      class="text-blue text-base font-bold"
      data-aos="fade-up"
      data-aos-duration="2000">
        <span>Principles</span>
      </h3>

      <ThickDivider duration={2000}/>
    </div>

    <div 
    class="grid grid-cols-1 text-blue gap-6 py-5 lg:grid-cols-4"
    data-aos="fade-up"
    data-aos-duration="2000">
      <PrinciplesCard 
        title="Learn By Doing & Owning" 
        description="The best way to learn is to get your hands dirty. Even if you make mistakes or fail, that’s a learning experience for the future."
      />
      <PrinciplesCard 
        title="Create for the User" 
        description="Empathizing and putting yourself in the shoes of the user creates great products and experiences."
      />
      <PrinciplesCard 
        title="Diversity Produces Great Outcomes" 
        description="Getting different perspectives, especially ones that challenge your own, help people and products grow (especially when working with global teams and products)."
      />
      <PrinciplesCard 
        title="Data is the Oil that Powers the Digital Economy" 
        description="Use data whenever possible to support your decision-making process."
      />
    </div>
    
  </div>
</section>
