---
interface Props {
  title: string,
  description: string,
}

const { title, description } = Astro.props;
---

<div>
    <p class="text-base leading-relaxed mb-3">
    <span class="italic block font-bold">{title}</span>
    </p>

    <p class="text-base leading-relaxed">
        {description}
    </p>
</div>
