---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "@/components/landing/Footer.astro";

import ThinDivider from "@/components/ThinDivider.astro";
---

<BaseLayout>
  <Header 
    title="Hercules Redesign Case Study", 
    description="View my product design case study on improving users' experience of the Hercules app by streamlining the frustrating and time-consuming process of doing laundry", 
    ogTitle="Hercules Redesign Case Study", 
    ogType="website", 
    ogImage="/initials.png"
  />

    <section class="bg-background">
        <div class="px-8 py-6 mx-auto 2xl:max-w-7xl space-y-8 leading-relaxed">
            
            <!-- OVERVIEW -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Hercules: Streamlining Laundry Management
                    </h2>

                    <p class="text-md">
                        Designer
                    </p>

                    <p class="text-md">
                        2024
                    </p>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    Hercules is a laundry outsource company that provides end-to-end laundry room design, installation, management, and service to housing complexes, universities, etc. As a case study and personal design challenge, I redesigned the mobile app that allows users to digitally manage their laundry machines.
                </p>
            </div>

            <!-- <div
                class="w-full h-0.5 bg-blue" 
                data-aos="fade-up"
                data-aos-duration="2000">
            </div> -->

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[16%]" 
                src={"/Hercules/v4/no-balance-v4.png"}
                alt="Redesign of the home screen (no balance)"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/v4/payment-screen-v4.png"}
                alt="Redesign of the payment screen"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/live-machine-status.png"}
                alt="Live machine status feature"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/laundry-status.png"}
                alt="Laundry status feature"/>      
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/service-screen.png"}
                alt="Maintenance request status feature"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/account-screen.png"}
                alt="Redesign of the account screen"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- USER RESEARCH -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        User Research
                    </h2>

                    <p class="text-md">
                        What are our users' pain points & wants / needs?
                    </p>
                </div>
            
                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                    Conducting research with 10 users to gain initial insights, the main issues they were experiencing were paying for laundry and not knowing the status of their laundry, as shown through some of their responses:
                    </p>
                    
                    <ul class="list-outside pl-4 list-disc space-y-2">
                        <li>“Card reloading machines sometimes can't read my credit card, and laundry cards don't work 100% of the time.”</li>
                        <li>“Not knowing when laundry is done, needing to use quarters to pay, and fear of someone taking my laundry.”</li>
                        <li>“The time it takes to do it and refilling my laundry card (the reloading machine only takes $10 or $20 bills so it's very annoying).”</li>
                        <li>“My laundry room is shared so I hate going there to find out all the machines are busy. When I go to get my laundry after I set a timer, sometimes the washer is still going and I have to either wait or go back to my apartment.”</li>
                        <li>“I would love a cash balance mechanism.”</li>
                        <li>“Ability to pay directly from the app with Apple Pay. I would also want features letting me know which number machine I am currently using and how much time I have.”</li>
                        <li>“When next machine is available and what machines are available.”</li>
                        <li>“To see how many machines are in use or free in my laundry room. Letting me know exactly when my machine is finishing.”</li>
                        <li>“Digital queue for a specific machine, map of machines in a room, and real time updates of laundry.”</li>
                    </ul>
                </div>
            </div> 

            <ThinDivider duration={2000}/>

            <!-- PROBLEM STATEMENT & GOAL -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Defining the Problem & Goal
                    </h2>

                    <p class="text-md">
                        What's the problem, and what are we trying to achieve for our users?
                    </p>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    From the user research, we can define the problem and our goal. While the app tries to digitize the laundry process, it lacks <span class="italic">complete</span> features that make it helpful for users, specifically around the payment process and laundry status capabilities, so the goal is to improve the user's experience by streamlining the frustrating and time-consuming process of doing laundry, while unifying the app's visual design.

                </p>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[20%]" 
                src={"/Hercules/original-design/home-screen.png"}
                alt="Original home screen design"/>
                <img
                class="w-[20%]" 
                src={"/Hercules/original-design/menu-screen.png"}
                alt="Original menu screen design"/>
                <img
                class="w-[20%]" 
                src={"/Hercules/original-design/service-screen.png"}
                alt="Original service screen design"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- WIREFRAMES -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Inspiration & Wireframing
                    </h2>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        After defining the guidelines for this project, I begin the ideation phase in which I initially like to explore and research designs / components from other mockups and popular apps as examples to see what's working for users, get inspired and think of how I can begin sketching my designs, and help me stay up-to-date on design trends.
                    </p>

                    <p>
                        Then, I like to mentally visualize what different parts of the app could look like and translate that into rough, low-fidelity sketches.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[20%]" 
                src={"/Hercules/wireframes/home-screen-sketch.png"}
                alt="Home screen wireframe"/>
                <img
                class="w-[20%]" 
                src={"/Hercules/wireframes/home-screen-sketch-2.png"}
                alt="Home screen wireframe"/>
                <img
                class="w-[20%]" 
                src={"/Hercules/wireframes/delete-account-screen.png"}
                alt="Delete account screen wireframe"/>
                <img
                class="w-[20%]" 
                src={"/Hercules/wireframes/laundry-room-screen.png"}
                alt="Laundry room screen wireframe"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 1 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 01
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    After wireframing and sketching potential ideas to establish some design direction, this was the outcome of the first high-fidelity mockup, which helped in defining the general layout and structure of the app (specifically emphasizing the user's balance and dividing the menu options into logical categories) moving forward.
                </p>
            </div>

            <div 
            class="flex flex-row justify-between lg:w-[50%] lg:ml-auto"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[20%] lg:w-[40%]" 
                src={"/Hercules/v1/home-screen-v1.png"}
                alt="First iteration of the home screen redesign"/>
                <img
                class="w-[20%] lg:w-[40%]" 
                src={"/Hercules/v1/help-screen-v1.png"}
                alt="First iteration of the help screen redesign"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 2 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 02
                    </h2>
                </div>
            
                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                          Slightly evolving from the first mockup, I figured it'd be interesting to treat the app's design similarly to modern crypto apps since the base purpose of both apps is for users to load money into their accounts and pay for things. 
                    </p>
                    
                    <p>
                          For example, with crypto apps, users can add money to their accounts, see their account balance clearly, and check the statuses of their investments. For Hercules, users can also add money to their accounts, see their account balance clearly (through emphasis of the font size and red / green color, which cognitively helps them interpret this information faster than reading), and check the statuses of their laundry or maintenance requests (via modular tile components).
                    </p>
                </div>
                
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[18%]" 
                src={"/Hercules/v2/no-balance-screen-v2.png"}
                alt="Second iteration of the home screen redesign (no balance)"/>
                <img
                class="w-[18%]" 
                src={"/Hercules/v2/positive-balance-screen-v2.png"}
                alt="Second iteration of the home screen redesign (positive balance)"/>
                <img
                class="w-[18%]" 
                src={"/Hercules/v2/activity-screen-v2.png"}
                alt="Second iteration of the activity screen redesign"/>
                <img
                class="w-[18%]" 
                src={"/Hercules/v2/service-screen-v2.png"}
                alt="Second iteration of the service screen redesign"/>
                <img
                class="w-[18%]" 
                src={"/Hercules/v2/account-screen-v2.png"}
                alt="Second iteration of the account screen redesign"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 3 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 03
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                     Building off of the previous iteration, I ideated more flows for each of the screens and fine-tuned more details for the different possible user journeys, such as this flow for adding more funds to a user's account.
                </p>
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between space-y-6"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-full"
                src={"/Hercules/v3/add-funds-flow-v3.svg"}
                alt="Third iteration of the add funds flow redesign"/>
                <img
                class="w-[45%]"
                src={"/Hercules/v3/activity-screen-flow-v3.svg"}
                alt="Third iteration of the activity screen flow redesign"/>
                <img
                class="w-[45%]"
                src={"/Hercules/v3/service-screen-flow-v3.svg"}
                alt="Third iteration of the service screen flow redesign"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- A/B TESTING -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        A/B Testing
                    </h2>
                </div>
            
                <div
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">

                    <p class="mb-6">
                     Throughout designing, I did A/B testing with users to get feedback to iterate upon. For example, for the error state, 90% of users preferred the design with the modal window because of reasons like:
                    </p>
                    <ul class="list-outside pl-4 list-disc space-y-2 mb-6">
                        <li>“Sometimes after refreshing the error can remain. It would allow me to know which click caused it.”</li>
                        <li>"I like when an error message screen pops up, rather than some text that I might miss otherwise."</li>
                        <li>"I like the visual design that it's clear there is an error."</li>
                    </ul>

                    <p class="mb-6">
                     Similarly, all users preferred the overlaid loading animation because:
                    </p>

                    <ul class="list-outside pl-4 list-disc space-y-2">
                        <li>“It's more obvious.”</li>
                        <li>"I know for sure that it's loading. I feel like some people might not catch onto the small loading icon next to the button."</li>
                    </ul>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <div class="flex flex-col w-[20%] items-center space-y-4">   
                    <img
                    src={"/Hercules/a-b-testing/error-state-1.png"}
                    alt="A/B testing of version 1 of the error state"/>
                    <p class="text-red">10%</p>
                </div>
                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/Hercules/a-b-testing/error-state-2.png"}
                    alt="A/B testing of version 2 of the error state"/>
                    <p class="text-green">90%</p>
                </div>

                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/Hercules/a-b-testing/loading-state-1.png"}
                    alt="A/B testing of version 1 of the loading state"/>
                    <p class="text-red">0%</p>
                </div>
                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/Hercules/a-b-testing/loading-state-2.png"}
                    alt="A/B testing of version 2 of the loading state"/>
                    <p class="text-green">100%</p>
                </div>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 4 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 04
                    </h2>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        Expanding more on the previous flow to add funds, users had to simultaneously pay with a card in order to save it, but there are many cases in which this could be a pain point. To test this, I did more A/B testing and found that my theory was correct as the vast majority of users preferred decoupling the two, as it introduces friction when starting their laundry process.
                    </p>

                    <p>
                        Moreover, when users want to do laundry, how do they know if any machines are even available? The next flow expands on the tiles feature I created in previous iterations, in which users can see all machines in their laundry room mapped out and their statuses. Users can also activate a reservation flow to hold a machine for up to 5 min before it's relinquished and refunded. This avoids frustrating situations in which a machine gets taken during the time it takes a user to see an available machine and physically go to the laundry room. Again, to validate this feature, I asked the users what they thought in a follow-up question and they all responded positively to this feature.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                src={"/Hercules/v4/add-funds-flow.png"}
                alt="Fourth iteration of the add funds flow"/>
                <img
                src={"/Hercules/v4/laundry-room-flow.png"}
                alt="Fourth iteration of the laundry room status flow"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- FINAL RESULTS -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Final Results & Impact
                    </h2>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        At a high level, I organized the features into logical categories and completed / fleshed out more of the main flows that users were experiencing as pain points. Now since this was just a side project, I wasn't able to capture any real-life metrics; however, I asked users which design they'd prefer in the end and <span class="highlight highlight-orange">90%</span> preferred the redesign. 
                    </p>

                    <p>
                        If this were to be launched, I'd like to iterate further with the designs and collect more user metrics / behaviors, as well as do more testing to validate that the redesigns are achieving our goal of ultimately elevating and streamlining the user's experience.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[16%]" 
                src={"/Hercules/v4/no-balance-v4.png"}
                alt="Redesign of the home screen (no balance)"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/v4/payment-screen-v4.png"}
                alt="Redesign of the payment screen"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/live-machine-status.png"}
                alt="Live machine status feature"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/laundry-status.png"}
                alt="Laundry status feature"/>      
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/service-screen.png"}
                alt="Maintenance request status feature"/>
                <img
                class="w-[16%]" 
                src={"/Hercules/final-results/account-screen.png"}
                alt="Redesign of the account screen"/>
            </div>

        </div>
    </section>

    <Footer />
</BaseLayout>
