---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "@/components/landing/Footer.astro";

import ThinDivider from "@/components/ThinDivider.astro";
---

<BaseLayout>
  <Header />

    <section class="bg-background">
        <div class="px-8 py-6 mx-auto 2xl:max-w-7xl space-y-8 leading-relaxed">
            
            <!-- OVERVIEW -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Hercules: Streamlining Laundry Management
                    </h2>

                    <p class="text-md">
                        2024
                    </p>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    Hercules is a laundry outsource company that provides end-to-end laundry room design, installation, management, and service to housing complexes, universities, etc. As a case study and personal design challenge, I redesigned the mobile app that allows users to digitally manage their laundry machines.
                </p>
            </div>

            <!-- <div
                class="w-full h-0.5 bg-blue" 
                data-aos="fade-up"
                data-aos-duration="2000">
            </div> -->

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[16%]" 
                src={"/no-balance-v2.svg"}/>
                <img
                class="w-[16%]" 
                src={"/add-funds-screen.svg"}/>
                <img
                class="w-[16%]" 
                src={"/live-machine-status-screen.svg"}/>
                <img
                class="w-[16%]" 
                src={"/activity-screen.svg"}/>      
                <img
                class="w-[16%]" 
                src={"/service-screen-v3.svg"}/>
                <img
                class="w-[16%]" 
                src={"/account-screen.svg"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- USER RESEARCH -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        User Research
                    </h2>

                    <p class="text-md">
                        What are our users' pain points & wants / needs?
                    </p>
                </div>
            
                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                    Conducting research with 10 users to gain initial insights, the main issues they're experiencing are paying for laundry and not knowing the status of their laundry, as shown through their responses:
                    </p>
                    
                    <ul class="list-inside list-disc space-y-2">
                        <li>“Card reloading machines sometimes can't read my credit card, and laundry cards don't work 100% of the time.”</li>
                        <li>“Not knowing when laundry is done, needing to use quarters to pay, and fear of someone taking my laundry.”</li>
                        <li>“The time it takes to do it and refilling my laundry card (the reloading machine only takes $10 or $20 bills so it's very annoying).”</li>
                        <li>“My laundry room is shared so I hate going there to find out all the machines are busy. When I go to get my laundry after I set a timer, sometimes the washer is still going and I have to either wait or go back to my apartment.”</li>
                        <li>“I would love a cash balance mechanism.”</li>
                        <li>“Ability to pay directly from the app with Apple Pay. I would also want features letting me know which number machine I am currently using and how much time I have.”</li>
                        <li>“When next machine is available and what machines are available.”</li>
                        <li>“To see how many machines are in use or free in my laundry room. Letting me know exactly when my machine is finishing.”</li>
                        <li>“Digital queue for a specific machine, map of machines in a room, and real time updates of laundry.”</li>
                    </ul>
                </div>
            </div> 

            <ThinDivider duration={2000}/>

            <!-- PROBLEM STATEMENT & GOAL -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Defining the Problem & Goal
                    </h2>

                    <p class="text-md">
                        What exactly is the problem, and what are we trying to achieve for our users?
                    </p>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    From the user research, we can define the problem and our goal. While the app tries to digitize the laundry process, it lacks complete features that make it helpful for users, specifically around the payment process and laundry status capabilities, so the goal is to improve the user's experience by streamlining the frustrating and time-consuming process of doing laundry, while unifying the app's visual design.

                </p>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[20%] object-scale-down" 
                src={"/hercules-home-screen.png"}/>
                <img
                class="w-[20%] object-scale-down" 
                src={"/hercules-menu.png"}/>
                <img
                class="w-[20%] object-scale-down" 
                src={"/hercules-maintenance-screen.png"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 1 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 01
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    After wireframing and sketching potential ideas to establish some design direction, this was the outcome of the first high-fidelity mockup, which helped in defining the general layout and structure of the app moving forward.
                </p>
            </div>

            <div 
            class="flex flex-row justify-between lg:w-[50%] lg:ml-auto"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="sm:w-[20%] lg:w-[40%]" 
                src={"/home-screen-v1.svg"}/>
                <img
                class="sm:w-[20%] lg:w-[40%]" 
                src={"/help-screen-v1.svg"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 2 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 02
                    </h2>
                </div>
            
                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        I started to slightly evolve from the first iteration. I wanted the two main features of the app to emphasize the user's account balance and the status of their active laundry. 
                    </p>

                    <p>
                        Since the whole purpose of the app is to load money into a user's account and pay for laundry machines, I figured it'd be interesting to treat the app's design similarly to popular crypto / finance apps in the market. In these types of apps, you can see your account balance, check the statuses of your investments (or in this case, the status of your laundry), etc.
                    </p>
                </div>
                
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[18%]" 
                src={"/no-balance-v2.svg"}/>
                <img
                class="w-[18%]" 
                src={"/positive-balance-v2.svg"}/>
                <img
                class="w-[18%]" 
                src={"/activity-screen-v2.svg"}/>
                <img
                class="w-[18%]" 
                src={"/service-screen-v2.svg"}/>
                <img
                class="w-[18%]" 
                src={"/account-screen-v2.svg"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 3 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 03
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                     I ideated more flows for each of the different screens and fine-tuned more details. Before creating these mockups, I envisioned the different possible user journeys, returning to my inspiration + research phase and wireframing the different flows first.
                </p>
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between space-y-6"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-full"
                src={"/add-funds-flow-v3.svg"}/>
                <img
                class="w-[45%]"
                src={"/activity-screen-flow-v3.svg"}/>
                <img
                class="w-[45%]"
                src={"/service-screen-flow-v3.svg"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- A/B TESTING -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        A/B Testing
                    </h2>
                </div>
            
                <div
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">

                    <p class="mb-6">
                     Throughout designing, I did A/B testing with users to get feedback to iterate upon. For example, with the loading and error states, 90% of users preferred the design with the modal window because of reasons like:
                    </p>
                    <ul class="list-inside list-disc space-y-2 mb-6">
                        <li>“Sometimes after refreshing the error can remain. It would allow me to know which click caused it.”</li>
                        <li>"I like when an error message screen pops up, rather than some text that I might miss otherwise."</li>
                        <li>"I like the visual design that it's clear there is an error."</li>
                    </ul>

                    <p class="mb-6">
                     Similarly, all users preferred the overlaid loading animation because:
                    </p>

                    <ul class="list-inside list-disc space-y-2">
                        <li>“It's more obvious.”</li>
                        <li>"I know for sure that it's loading. I feel like some people might not catch onto the small loading icon next to the button."</li>
                    </ul>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <div class="flex flex-col w-[20%] items-center space-y-4">   
                    <img
                    src={"/failure-status-v1.svg"}/>
                    <p class="text-red">10%</p>
                </div>
                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/failure-status-v2.svg"}/>
                    <p class="text-green">90%</p>
                </div>

                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/loading-status-v1.svg"}/>
                    <p class="text-red">0%</p>
                </div>
                <div class="flex flex-col w-[20%] items-center space-y-4">
                    <img
                    src={"/loading-status-v2.svg"}/>
                    <p class="text-green">100%</p>
                </div>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 4 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 04
                    </h2>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        Expanding more on the previous flow to add funds, users had to simultaneously pay with the card in order to save it, but there are many cases in which this could be a pain point. To test this, I did quick A/B testing and found that my theory was correct as the vast majority of users preferred decoupling this, as it introduces friction when starting their laundry process.
                    </p>

                    <p>
                        Moreover, when users try to start laundry, how do they know if any machines are even available? The next flow expands on the tiles feature I created to show a user's active laundry status, in which users can see all machines in their laundry room mapped out with each one's individual status as occupied or available. Users can also activate a reservation flow to hold a machine for up to 5 min before it's relinquished and refunded. This avoids frustrating situations in which a machine gets taken during the time it takes for a user to see an available machine and physically go to the laundry room. Again, to validate this feature, I asked the users what they thought in a follow-up question and they all responded positively to this feature.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row flex-wrap justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                src={"/add-funds-flow.png"}/>
                <img
                src={"/laundry-room-flow.png"}/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- FINAL RESULTS -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Final Results & Impact
                    </h2>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        At a high level, I organized the features into logical categories and completed the main features / fleshed out more of the flows that users were experiencing as pain points. Now since this was just a side project, I wasn't able to capture any real-life metrics; however, I asked users which design they'd prefer in the end and <span class="highlight highlight-orange">90%</span> preferred the redesign. 
                    </p>

                    <p>
                        If this were to be launched, I'd like to iterate further with the designs and collect more user metrics / behaviors, as well as do more testing to validate that the redesigns are achieving our goal of ultimately elevating and streamlining the user's experience.
                    </p>
                </div>
            </div>

             <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[16%]" 
                src={"/no-balance-v2.svg"}/>
                <img
                class="w-[16%]" 
                src={"/add-funds-screen.svg"}/>
                <img
                class="w-[16%]" 
                src={"/live-machine-status-screen.svg"}/>
                <img
                class="w-[16%]" 
                src={"/activity-screen.svg"}/>      
                <img
                class="w-[16%]" 
                src={"/service-screen-v3.svg"}/>
                <img
                class="w-[16%]" 
                src={"/account-screen.svg"}/>
            </div>

        </div>
    </section>

    <Footer />

</BaseLayout>
