---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "@/components/landing/Footer.astro";

import ThinDivider from "@/components/ThinDivider.astro";

import SkillsList from "../data/skills.json"
---

<BaseLayout>
  <Header />

    <section class="bg-background">
        <div class="px-8 mx-auto 2xl:max-w-7xl">
            
            <div class="flex flex-wrap">
                <div 
                class="text-blue leading-relaxed pt-6 sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Skills
                    </h2>
                </div>

                <div
                class="space-y-4 lg:py-6 sm:w-full lg:w-[50%] ml-auto">
                    {SkillsList.map((category, index) => (

                        <h2
                        class="text-blue leading-relaxed text-lg font-semibold"
                        data-aos="fade-up"
                        data-aos-duration="2000">
                            {category.category}
                        </h2>

                        <p 
                        class="text-blue text-base leading-relaxed "
                        data-aos="fade-up"
                        data-aos-duration="2000">
                            {category.skills.join(", ")}
                        </p>

                        <>
                            {
                                index !== SkillsList.length - 1 ? 
                                <div
                                    class="w-full h-0.5 bg-blue" 
                                    data-aos="fade-up"
                                    data-aos-duration="2000">
                                </div> : 
                                null
                            }
                        </>
                    ))}
                </div>
            </div>
        </div>
    </section>

    <Footer />
</BaseLayout>
