---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "@/components/landing/Footer.astro";

import ThinDivider from "@/components/ThinDivider.astro";
---

<BaseLayout>
  <Header 
    title="Steg.AI Redesign Case Study", 
    description="View my product design case study on elevating users' usage insights through richer, interactive data visualizations and features for Steg.AI's Usage page.", 
    ogTitle="Steg.AI Redesign Case Study", 
    ogType="website", 
    ogImage="https://astro-website.s3.us-east-1.amazonaws.com/initials.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAYaCXVzLWVhc3QtMSJGMEQCIB%2BfPw2R%2BxaNPEZWIogkfpjvIGkbZY8Sm85YwiWXYJ6%2BAiA8D%2BaG0aiHjvkFueax2QK1HXQpantg8bgK0hy%2BdL6nvCrtAgjP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDIxMTEyNTYzMjYyNyIMNQFRP8z%2BW2lgfg6RKsECYd5ki%2BoMOnL5Ea%2F6FM02QeIADaNQd4d8AowI9MT6ZEi82EvGc6oxVdx21iOgqBrqyAF8Ggm87eGnTHqlmDGPEcjg3taHzLbTsU2NF32uwT5cQ%2B347ogaLQZo2hqZDaj63beHjVYw2WjXx5L7Ufz7z27i8gr%2FBgNJR3kwzjq1eGTcj1XAFBeRmGjEzVsEhwLHKba8bss4%2FFjdhyd1jwZ3gDboI%2B0tXKf8rnuH0KGOadYx9D7B4eyqD89AVLeJGP6%2FBwR%2Bs3CNTPrSNXkVj0KrT5CrTveGGapIsAi9f3gRcDlPAOYlZTFpxruVUnNYOKPNDQ%2FGlRF%2BldyYCx4ZsHGFFRvImUw4Hp1PgWXwsdR3TLhexysITcviDfscIqBogXHpcIsWZQTVaYQP9eyWnTECnblgFsh5gpiKQ6ZnH0DPq6%2BxMPSxjK4GOrQChxHGjPXObeJQay1q66iRqezwHEWqwQZ8atVT7EvW4mIwe%2BWVM%2FbO5YYu62YSQtpWC7ZLYRNdk8hJEBsyNCZukmchBanA2Wpy7sF57YWi27dpyvVkydLhQpiYFH35RaOokZyX9G1t2NpRbPq7j2VHSSp2cen5nJ8NcHHofzdmNlyVBVDKKIpof%2Fpyg%2BaQVJlUMaNqgOPPYfV7jD5aQZfB2um%2BNiDClO9lSX7BOL%2BJo0gBCJpjGWNeIsNlazuORaAVX60Tgp%2FdPzMj7dpmovKZmi4rNp1MJuGUmbWRs0UlaLcC1b8FhpLO1sHf4W1%2Fips7ZekjRq7A3xkIkoY%2FTbuE%2Bc0u1nNqg6cJfKJRAg%2F3qum5mJySF0mv1pqaGAlwbzdi53wODQJ4fu4EVWp10eSkOjxNOlA%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240207T055734Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIATCKARPZZ4JQ2A55K%2F20240207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=db77b299a075296c0ca38a7d049d9a4fae2eeaaa76334c316008bab8836ddfb0"
  />

    <section class="bg-background">
        <div class="px-8 py-6 mx-auto 2xl:max-w-7xl space-y-8 leading-relaxed">
            
            <!-- OVERVIEW -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Steg.AI
                    </h2>

                    <p class="text-md">
                        Designer & Engineer
                    </p>

                    <p class="text-md">
                        2023
                    </p>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    Steg.AI is a B2B SaaS startup, in which their core product is invisible forensic watermarking on digital assets (like photos, videos, and PDFs) through their APIs or web application. My role in this project was to redesign the web app's usage page and implement it in code.
                </p>
            </div>

            <div 
            class="flex flex-row justify-between items-center mt-6"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[30%]"
                src={"/StegAI/final-results/usage-page-yearly-view.png"}
                alt="Yearly view of the Usage page redesign"/>
                <img 
                class="w-[25%]"
                src={"/StegAI/final-results/steg-logo.svg"}
                alt="Steg.AI logo"/>
                <img
                class="w-[30%]"
                src={"/StegAI/final-results/usage-page-monthly-view.png"}
                alt="Monthly view of the Usage page redesign"/>
            </div>

            <!-- <div 
            class="space-y-6 lg:block"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="ml-auto sm:w-full lg:w-[50%]" 
                src={"/usage-page-yearly-view-v2.svg"}/>
                <img
                class="ml-auto sm:w-full lg:w-[50%]" 
                src={"/usage-page-monthly-view-v2.svg"}/>
            </div> -->

            <ThinDivider duration={2000}/>

            <!-- USER RESEARCH -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        User Research
                    </h2>

                    <p class="text-md">
                        What are our customers' pain points & wants / needs?
                    </p>
                </div>

                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    Through conversations with our customers to research their pain points and wants / needs, we found that they wanted to see their data beyond just a given month. This makes sense since a lot of our partnerships with large enterprises are based on annual contracts so they want to see an overview of their entire usage data. They also wanted to gain more valuable insight into <span class="italic">how</span> they're spending their tokens and <span class="italic">who</span> is spending tokens under an organization's account.
                </p>
            </div> 

            <ThinDivider duration={2000}/>

            <!-- PROBLEM STATEMENT & GOAL -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Defining the Problem & Goal
                    </h2>

                    <p class="text-md">
                        What's the problem, and what are we trying to achieve for our customers?
                    </p>
                </div>

                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        Other than the clear visual design issues (such as inaccessible and incorrect use of the brand's colors), the usage page offered no <span class="italic">valuable</span> data insights for our customers with its limited capabilities, which was evident from the user research.
                    </p>

                    <p>
                        To fix this and provide a better experience, the goal is to elevate the usage insights through richer, interactive data visualizations and features, while incorporating the brand's styling.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                src={"/StegAI/original-designs/usage-page.png"}
                alt="Original design of the Usage page"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- WIREFRAMING -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Inspiration & Wireframing
                    </h2>
                </div>
            
                <div 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p class="mb-6">
                        After defining the guidelines for this project, I begin the ideation phase in which I initially like to explore and research designs / components from other mockups and popular apps as examples to see what's working for users, get inspired and think of how I can begin sketching my designs, and help me stay up-to-date on design trends.
                    </p>

                    <p>
                        Then, I like to mentally visualize what different parts of the app could look like and translate that into rough, low-fidelity sketches.
                    </p>
                </div>
            </div>

            <div 
            class="flex flex-row justify-between"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="w-[30%]"
                src={"/StegAI/wireframes/usage-page-1.png"}
                alt="Usage page wireframe"/>
                <img
                class="w-[30%]"
                src={"/StegAI/wireframes/usage-page-2.png"}
                alt="Usage page wireframe"/>
                <img
                class="w-[30%]"
                src={"/StegAI/wireframes/logs-modal-window.png"}
                alt="Usage page wireframe with modal window"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 1 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 01
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    After wireframing and sketching potential ideas to establish some design direction, this was the outcome of the first high-fidelity mockup. Some of the main features are: toggling between monthly and yearly views, displaying data visualizations to easily digest large and complex amounts of data, and viewing or downloading detailed logs of account activity. 
                </p>
            </div>

            <div 
            class="flex flex-row"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="ml-auto sm:w-full lg:w-[50%]"
                src={"/StegAI/v1/usage-page-yearly-view.png"}
                alt="First iteration of the Usage page redesign"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 2 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 02
                    </h2>
                </div>
            
                <div 
                class="text-blue text-base space-y-6 sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p>
                        From stand ups with the team and weekly demos, I was able to get feedback to iterate over: Users can now easily upgrade their plans or tokens via a call-to-action link to remove friction in the upgrade process, filter even more of the data down to specific users in an organization's account, interact with the data visualizations through hover states, and see even more contextual details in the logs (specifically on who performed what action) with a better way to parse through the table using pagination. 
                    </p>

                    <p>
                        Something that I kept in mind was <span class="highlight highlight-orange">accessibility</span>, specifically around the combination of colors used for the first bar chart. Blue and green can be hard to differentiate for users with color blindness so I updated it to create a better contrast.
                    </p>
                </div>
                
            </div>

            <div 
            class="space-y-6 lg:block"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="ml-auto sm:w-full lg:w-[50%]" 
                src={"/StegAI/v2/usage-page-yearly-view.png"}
                alt="Second iteration of the Usage page redesign (yearly view)"/>
                <img
                class="ml-auto sm:w-full lg:w-[50%]" 
                src={"/StegAI/v2/usage-page-monthly-view.png"}
                alt="Second iteration of the Usage page redesign (monthly view)"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- ITERATION 3 -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Iteration 03
                    </h2>
                </div>
            
                <p 
                class="text-blue text-base sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                     It's important to have information communicated to users whenever something goes wrong in order to avoid confusion and frustration, otherwise that contributes to an overall bad experience, so I considered what the different possible edge cases (like error and loading states) and dropdown menus could look like.

                </p>
            </div>

            <div 
            class="flex flex-row"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <img
                class="ml-auto sm:w-full lg:w-[50%]"
                src={"/StegAI/v3/loading-and-error-states.png"}
                alt="Third iteration of the Usage page redesign showing the error and loading states"/>
            </div>

            <ThinDivider duration={2000}/>

            <!-- FINAL RESULTS -->
            <div class="flex flex-wrap">
                <div 
                class="text-blue sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <h2 class="text-xl font-bold">
                        Final Results & Impact
                    </h2>
                </div>

                <div 
                class="text-blue text-base space-y-6 sm:w-full lg:w-[50%]"
                data-aos="fade-up"
                data-aos-duration="2000">
                    <p>
                        Overall, at a high level, I incorporated the brand's colors and style guidelines, and leveraged our users' feedback in creating visualizations that actually add valuable insights to their usage data. I was also mindful to modularize the layout of the design and componentize elements so that it'd be more efficient when implementing it in code for quick iterations and for the future if features were removed or added. If I had more time, I would've liked to continue iterating on the designs, but given the timeline of the product roadmap and different constraints, this was enough for V2, which shows in the overall impact.
                    </p>

                    <p>
                        One of the main principles I emphasize is the importance of data, and in this case, it's a good way to quantifiably measure how well the redesigns did. To measure user impact, we used Pendo as our product analytics tool to capture user behavior and engagement metrics on the web app. We found that the average time spent on the usage page jumped up to 1m 29s, which is a <span class="highlight highlight-orange">345% increase</span>, and our PES (Product Engagement Score) improved to 79% as well, which is a <span class="highlight highlight-orange">7.36% increase</span>. Although the average time metric isn't an effective indicator of success by itself, coupled with the increased PES, it's clear that our customers are engaging with the redesigned page more.
                    </p>

                    <p>
                        Qualitatively, there was also impact within the team. Since the usage page was the first page that I redesigned in the overall project of revamping the entire web app, I saw this as an opportunity to <span class="highlight highlight-orange">establish the foundations for a design system</span> (color + typography guidelines, components, etc.). I also translated the guidelines from the design system into code for the frontend styling framework we used as an engineering team. This really helped in fast iterations and overall implementation in code since we're a super small startup.
                    </p>
                </div>

                <div 
                class="flex flex-row justify-between items-center mt-6"
                data-aos="fade-up"
                data-aos-duration="2000"
                >
                    <img
                    class="w-[30%]"
                    src={"/StegAI/final-results/usage-page-yearly-view.png"}
                    alt="Yearly view of the Usage page redesign"/>
                    <img 
                    class="w-[25%]"
                    src={"/StegAI/final-results/steg-logo.svg"}
                    alt="Steg.AI logo"/>
                    <img
                    class="w-[30%]"
                    src={"/StegAI/final-results/usage-page-monthly-view.png"}
                    alt="Monthly view of the Usage page redesign"/>
                </div>
            </div>

        </div>
    </section>

    <Footer />

</BaseLayout>
