---
import BaseHead from "../components/BaseHead.astro";
import { SEO } from "astro-seo";

interface Props {
  title: string,
  description: string,
  ogTitle: string,
  ogType: string,
  ogImage: string,
  ogImageWidth: number,
  ogImageHeight: number,
}

const { title, description, ogTitle, ogType, ogImage, ogImageWidth, ogImageHeight } = Astro.props;
---

<html lang="en" class="selection:bg-orange">
  <head>
    <BaseHead />

    <SEO 
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: ogTitle,
          type: ogType,
          image: ogImage,
        },
        image: {
          width: ogImageWidth,
          height: ogImageHeight,
        },
      }}
    />
  </head>

  <body class="bg-background">
    <slot />
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
